html, body{
  margin: 0;
  padding: 0;

  li{
    font-size: 12px;
    line-height: 30px;
  }

  .box{
    width:220px;
    height: 220px;
    background: url('../images/123.jpg');
    background-size: cover;
  }
  
}